# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../:\Users\tomer\Google Drive\טכניון\שנה ב\פרויקט קיץ\פרויקט קיץ שלומי\medical_monitor\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
